@model Libro

<h2>Añadir libro</h2>

<form asp-action="AñadirLibro">
    <div class="mb-3">
        <label asp-for="Titulo" class="form-label"></label>
        <input type="text" asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Autor.Nombre" class="form-label"></label>
        <input type="text" asp-for="Autor.Nombre" class="form-control" />
        <span asp-validation-for="Autor.Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Autor.Apellido" class="form-label"></label>
        <input type="text" asp-for="Autor.Apellido" class="form-control" />
        <span asp-validation-for="Autor.Apellido" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Editoriales" class="form-label"></label>
        <input type="text" asp-for="Editoriales" class="form-control" />
        <span asp-validation-for="Editoriales" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Sinopsis" class="form-label"></label>
        <textarea asp-for="Sinopsis" class="form-control"></textarea>
        <span asp-validation-for="Sinopsis" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="n_paginas" class="form-label"></label>
        <input type="number" asp-for="n_paginas" class="form-control" />
        <span asp-validation-for="n_paginas" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" asp-controller="Libreria" asp-action="AñadirLibro">Guardar</button>
   
      <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancelar</a>
</form>